@media (max-width: 34em) {
  .main {
    position: absolute;
    top: 45%;
    width: 100vw;
  }

  .submit {
    position: absolute;
    bottom: 20%;
    left: 35%;
  }

  .choose {
    position: absolute;
    top: 33%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .chse {
    padding-bottom: 0.5rem;
  }

  .subheading {
    position: absolute;
    top: 38%;
    left: 28%;
  }
  .input {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .output {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .dec_text {
    padding-bottom: 0.5rem;
  }
  .result {
    padding-: 0.5rem;
  }
}
