@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background: rgb(15, 4, 23);
  background: linear-gradient(90deg, rgba(15, 4, 23, 1) 0%, rgba(48, 0, 136, 1) 50%, rgba(0, 178, 189, 1) 100%);
  background-size: cover;
}
header {
  text-align: center;
  color: #fbf9ff;
}
.heading {
  padding: 5rem 0;
  text-align: center;
  font-size: 3rem;
}
.subheading {
  margin-top: -4rem;
  color: #a2a3bb;
}
.main {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.input {
  display: flex;
}
.output {
  display: flex;
  padding-top: 2rem;
}
.submit {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fbf9ff;
  color: #777;
  min-width: 12rem;
  border-radius: 5px;
  box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.48);
}
.dec_text {
  padding-right: 0.5rem;
  color: #fbf9ff;
}
.bin_text {
  padding: 0 0.5rem 0 1.5rem;
  color: #fbf9ff;
}
input[type="number"] {
  border: none;
  border-radius: 5px;
  height: 1.8rem;
  width: 12rem;
  font-size: 1.3rem;
  box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.48);
}
.btn {
  padding: 5px 10px 5px 10px;
  font-size: 1.2rem;
  background-color: #feff00;
  border-radius: 20px;
  border: none;
  color: rgba(48, 0, 136, 1);
  margin-right: 10px;
}
.reset {
  padding: 5px 10px 5px 10px;
  font-size: 1.2rem;
  background-color: #feff00;
  border-radius: 20px;
  border: none;
  color: rgba(48, 0, 136, 1);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.choose {
  padding: 2.1rem 0;
  font-size: 1.3rem;
}
.select {
  padding: 0.4rem 0.6rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.05rem;
}
.select:focus,
.select:hover {
  outline: none;
  border: 1px solid #bbbbbb;
}
footer {
  background-color: #111;
  height: 4rem;
  width: 100vw;
  position: absolute;
  bottom: 0rem;
}
.copy {
  text-align: center;
  padding-top: 0.4rem;
  color: #555;
  font-size: 0.8rem;
}
